# Copyright (c) 2021 Pelion
# SPDX-License-Identifier: Apache-2.0

menu "Pelion Device Management Client Example"

comment "    Example application configuration                         "

config PELION_EXAMPLE_DEVELOPER_MODE
    bool "Enable developer mode to skip Factory enrollment"
    default y
    help
      Connect to Pelion DM using developer credentials.

comment "    Library configuration can be found under:                 "
comment "        Modules -> Pelion Device Management Client Library    "

endmenu

source "Kconfig.zephyr"
