&slot0_partition {
    label = "image-0";
    reg = <0x00020000 0x00065000>;
};
&slot1_partition {
    label = "image-1";
    reg = <0x00085000 0x00065000>;
};
&scratch_partition {
    label = "image-scratch";
    reg = <0x000EA000 0x00010000>;
};
&flash0 {
    partitions {
        pelion_partition: partition@0x000FA000 {
            label = "pelion_storage";
            reg = <0x000FA000 0x00006000>;
        };
    };
};
