/* Bootloader runs from the boot partition */
&{/chosen} {
	zephyr,code-partition = &boot_partition;
};

/* Storage/NVS: 256 KiB (2 x 128 KiB) */
&storage_partition {
	reg = <0x00020000 0x00040000>;
	label = "storage";
};

/* Slots: 640 KiB each */
&slot0_partition {
	reg = <0x00060000 0x000A0000>;
	label = "image-0";
};

&slot1_partition {
	reg = <0x00100000 0x000A0000>;
	label = "image-1";
};

/* Izuma creds: 256 KiB (2 x 128 KiB) */
&flash0 {
	partitions {
		izuma_partition: partition@100000 {
			label = "izuma_storage";
			reg = <0x001A0000 0x00040000>;
		};
	};
};

/* Scratch: 128 KiB at end of flash */
&scratch_partition {
	reg = <0x001E0000 0x00020000>;
	label = "image-scratch";
};
